.header
  %nav.top-nav
    .nav-wrapper
      .row
        .header__title= 'Expenses&Stuff'
        .header__right 
          - if logged_in?
            = link_to 'Log out', logout_path, :method => :delete, class: 'float-right'